<div id="container" class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
           <!-- card1-->
        <div class="card mt-5 mb-5" *ngFor="let d of dataa">
          <div class="card-header">
            <div class="row justify-content-center">
              <div class="col-8 text-center">
                <h4>{{d.teams[0].name}} VS {{d.teams[1].name}}</h4>
                <h5>{{d.duration}}</h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row justify-content-around">
              <div class="col-4 text-center">
                <img [src]="d.teams[0].logo" height="50px" />
                <h2 class="my-3">{{d.teams[0].score}}</h2>
              </div>
              <div class="col-4 text-center mt-3">
                  <h1>{{d.time}}<br>_</h1>
              </div>
              <div class="col-4 text-center">
                <img [src]="d.teams[1].logo" height="50px" />
                <h2 class="my-3">{{d.teams[0].score}}</h2>
              </div>
            </div>
          </div>
          <div class="card-footer justify-content-center">
            <p class="m-0 text-center">{{d.date}}</p>
          </div>
        </div>

     





       
      </div>
    </div>
  </div>