<div class="container-fluid">
    <div id="section1" class="row">

    </div>
    <div id="section2" class="row justify-content-center">
        <div class="col-md-12">
            <h1 id="head1"> PLAYERS</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div id="card" class="card h-100">
                    <img src="../../assets/images/boaster.jpg"  class="card-img-top" alt="babybay">
                    <div class="card-body">
                        <h5 class="card-title text-light">Boaster</h5>
                        <p class="card-text text-light">Real Name: Jake Howlett <br>
                            The captain of the Valorant team, Jake "Boaster" Howlett is currently the fragging IGL of the team. <br> He previously spent time in CS:GO and LOL with Excel but has found his stride in the Tier 1 scene of European Valorant.</p>
                            <a *ngIf="isloggedin" routerLink="/csoon"> <button class="btn btn-light">Player Stats</button></a>
                            <a *ngIf="!isloggedin" routerLink="/login-signup"> <button class="btn btn-light">Player Stats</button></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="card" class="card h-100">
                    <img src="../../assets/images/leof.jpg"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-light">LEO </h5>
                        <p class="card-text text-light">Real Name: Leo Jannesson <br>
                            "Leo" Jannesson (born December 15, 2003) is a Swedish player who is currently playing for Fnatic.</p>
                            <a *ngIf="isloggedin" routerLink="/csoon"> <button class="btn btn-light">Player Stats</button></a>
                            <a *ngIf="!isloggedin" routerLink="/login-signup"> <button class="btn btn-light">Player Stats</button></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="card" class="card h-100">
                    <img src="../../assets/images/alfajer.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-light">ALFAJER</h5>
                        <p class="card-text text-light">Real Name: Emir Ali Beder <br>
                            Emir "Alfajer" Beder (born June 10, 2005) is a Turkish player who is currently playing for Fnatic.</p>
                            <a *ngIf="isloggedin" routerLink="/csoon"> <button class="btn btn-light">Player Stats</button></a>
                            <a *ngIf="!isloggedin" routerLink="/login-signup"> <button class="btn btn-light">Player Stats</button></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="card" class="card h-100">
                    <img src="../../assets/images/776.jpg"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-light">CHRONICLE </h5>
                        <p class="card-text text-light">Real Name: Timofey Khromov <br>
                            Timofey "Chronicle" Khromov (born August 16, 2002) is a Russian player who is currently playing for Fnatic.</p>
                            <a *ngIf="isloggedin" routerLink="/csoon"> <button class="btn btn-light">Player Stats</button></a>
                            <a *ngIf="!isloggedin" routerLink="/login-signup"> <button class="btn btn-light">Player Stats</button></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="card" class="card h-100">
                    <img src="../../assets/images/derke.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-light">DERKE </h5>
                        <p class="card-text text-light">Real Name: Nikita Sirmitev <br>
                            Previously known as Derkeps from his time in CS:GO, Derke is a young Finnish FPS player. He was an up-and-coming awper in CS:GO and these skills have translated perfectly to Valorant, quickly becoming one of the most feared Jett players in the region.</p>
                            <a *ngIf="isloggedin" routerLink="/csoon"> <button class="btn btn-light">Player Stats</button></a>
                            <a *ngIf="!isloggedin" routerLink="/login-signup"> <button class="btn btn-light">Player Stats</button></a>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


