<div class="container-fluid">
    <div id="section1" class="row">

    </div>
    <div id="section2" class="row justify-content-center">
        <div class="col-md-12">
            <h1 id="head1"> PLAYERS</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div id="card" class="card h-100">
                    <img src="../../assets/images/babybay.webp"  class="card-img-top" alt="babybay">
                    <div class="card-body">
                        <h5 class="card-title text-light">Babybay</h5>
                        <p class="card-text text-light">Real Name: Andrej Francisty <br>
                            FaZe Name: Babybay <br>
                            Joined FaZe: August 2020 <br>
                            First game I played as a kid: OG Pokemons or original HALO <br>
                            Game I m best at: Valorant and Call of Duty <br>
                            Dream dinner guest: Juice WRLD <br>
                            FaZe member i d want to be stranded on an island with: Corey because we would survive
                            and would entertain each other</p>
                        <a *ngIf="isloggedin" routerLink="/csoon"> <button class="btn btn-light">Player Stats</button></a>
                        <a *ngIf="!isloggedin" routerLink="/login-signup"> <button class="btn btn-light">Player Stats</button></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="card" class="card h-100">
                    <img src="../../assets/images/dicey.webp"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-light">Dicey </h5>
                        <p class="card-text text-light">Real Name: Quan Tran
                            FaZe Name: FaZe Dicey <br>
                            When did you join FaZe: January 2022 <br>
                            First game I played as a kid: League of Legends <br>
                            Game I m best at: Valorant <br>
                            Superpower I want: Time travel <br>
                            Favorite food: Rice</p>
                            <a *ngIf="isloggedin" routerLink="/csoon"> <button class="btn btn-light">Player Stats</button></a>
                            <a *ngIf="!isloggedin" routerLink="/login-signup"> <button class="btn btn-light">Player Stats</button></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="card" class="card h-100">
                    <img src="../../assets/images/poised.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-light">POISED</h5>
                        <p class="card-text text-light">Real Name: Kevin Ngo
                            FaZe Name: FaZe POISED <br>
                            Joined FaZe: April 2022 <br>
                            First game I played as a kid: Mario Kart on Nintendo 64 <br>
                            Game I m best at: NBA 2K <br>
                            Favorite artist of all time: Old Drake <br>
                            Dream dinner guest: Kobe Bryant</p>
                            <a *ngIf="isloggedin" routerLink="/csoon"> <button class="btn btn-light">Player Stats</button></a>
                            <a *ngIf="!isloggedin" routerLink="/login-signup"> <button class="btn btn-light">Player Stats</button></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="card" class="card h-100">
                    <img src="../../assets/images/shanks.webp"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-light">Shanks </h5>
                        <p class="card-text text-light">Real Name: Ryan Ngo
                            FaZe Name: FaZe Shanks <br>
                            Joined FaZe: July 2022 <br>
                            First game I played as a kid: Warcraft minigames <br>
                            Game I m best at: VALORANT <br>
                            Favorite food: Crab legs with steak, mashed potatoes, and mac and cheese
                            FaZe member I d want to be stranded on an island with: It would have to be my
                            brother,POISED</p>
                            <a *ngIf="isloggedin" routerLink="/csoon"> <button class="btn btn-light">Player Stats</button></a>
                            <a *ngIf="!isloggedin" routerLink="/login-signup"> <button class="btn btn-light">Player Stats</button></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="card" class="card h-100">
                    <img src="../../assets/images/supamen.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-light">supamen </h5>
                        <p class="card-text text-light">Real Name: Phat Le
                            FaZe Name: FaZe supamen <br>
                            Joined FaZe: April 2022 <br>
                            First game I played as a kid: Half-Life <br>
                            Game I m best at: Valorant <br>
                            FaZe member I d like to be stranded on an island with: POISED because he's my IGL, so he'll get us off of the island
                            Fun fact about me: I previously played pro with babybay in another FPS game called Crossfire</p>
                            <a *ngIf="isloggedin" routerLink="/csoon"> <button class="btn btn-light">Player Stats</button></a>
                            <a *ngIf="!isloggedin" routerLink="/login-signup"> <button class="btn btn-light">Player Stats</button></a>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

