<div class="container-fluid">
    <div id="section1" class="row">
       
    </div>
    <div id="section2" class="row">
        <div class="col-md-4">
            <h1 id="heading1">WE ARE VALORANT</h1>
            <h4 id="heading4">DEFY THE LIMITS </h4>
            <p id="parag" >Blend your style and experience on a global, competitive stage. You have 13 rounds to attack and defend your side using sharp gunplay and tactical abilities. And, with one life per-round, you'll need to think faster than your opponent if you want to survive. Take on foes across Competitive and Unranked modes as well as Deathmatch and Spike Rush.</p>
             <a href="https://playvalorant.com/en-us/news/announcements/beginners-guide/"><button id="bt1" class="btn btn-dark">Learn the game</button></a> 
        </div>
        <div class="col-auto offset-md-4">
            <video id="video" src="../../assets/images/valovideo.mp4" autoplay loop></video>
        </div>

    </div>
    <div id="section3" class="row">
        <div class="col-md-5">
            <h4>EPISODE_06 // ACT II / YR 3</h4>
            <h1>REVELATION</h1>
            <a href="https://playvalorant.com/en-us/news/game-updates/what-s-new-in-episode-6-act-ii/"> <button id="bt2" class="btn btn-danger">ACT II OVERVIEW</button></a>

        </div>

    </div>
    <div id="footer" class="row justify-content-center text-center">
        <div class="col-md-12">
            <p>©2023 Riot Games,inc,Riot Games,VALORANT,And any associated logos are trademarks</p>
        </div>

    </div>

</div>
