<div class="container-fluid">
    <div class="row">
        <div id="section1" class="col-md-12 p-4" style="height:100vh;">
         
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <h3 class="text-light text-center">Explore competitive gaming with our e-sports website <br> Get
                            live video streams, <br>
                            latest statistics <br> Join us now!</h3>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-center">

                            <a routerLink="/register" id="btn1" class="btn text-light">Register Now!</a>


                        </div>



                    </div>

                </div>
            </div>






        </div>
    </div>
    <div id="section2" class="row ">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-80">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div id="card" class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center text-light mb-5">Login</h2>
                                <form>
                                    <div class="mb-4">
                                      <label for="email" class="form-label text-light">Email address</label>
                                      <input [(ngModel)]="user.email" type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                                      <div id="emailHelp" class="form-text ">We'll never share your email with anyone else.</div>
                                    </div>
                                    <div class="mb-3">
                                      <label for="password" class="form-label text-light">Password</label>
                                      <input [(ngModel)]="user.password" type="password" name="password" class="form-control" id="password">
                                    </div>
                                   
                                    <div class="d-flex justify-content-center mb-4">
                                        <button [disabled]="!formValid()" (click)="login()" type="submit" class="btn btn-dark ">Submit</button>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <p class="text-light"> Not having an Account <a routerLink="/register"> <u>Register</u></a></p>
                                    </div>
                                    
                                  </form>

                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



</div>