<div id="section1" class="container-fluid">

  <div class="row">
    <div class="col-auto offset-5 slider-container">
      <div class="slider">
        <span style="--i: 1">
          <a routerLink="/valo"><img src="../../assets/images/valo.jpg" alt="" /></a></span>
        <span style="--i: 2"><img src="../../assets/images/cs_go1.png" alt="" /></span>
        <span style="--i: 3"><img src="../../assets/images/apex.jpg" alt="" /></span>
        <span style="--i: 4"><img src="../../assets/images/warzone.jpg" alt="" /></span>
        <span style="--i: 5"><img src="../../assets/images/pubg.jpg" alt="" /></span>
        <span style="--i: 6"><img src="../../assets/images/fifa232.jpg" alt="" /></span>
        <span style="--i: 7"><img src="../../assets/images/fort2.webp" alt="" /></span>
        <span style="--i: 8"><img src="../../assets/images/freefire.jpg" alt="" /></span>
      </div>
    </div>
  </div>
</div>

<div id="section2" class="container-fluid">
  <div class="row">
    <h1 id="head1" class="text-center text-light"> Teams</h1>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-4">
      <div id="card" class="card">
        <img src="../../assets/images/faze clan.webp" class="card-img-top" alt="faze photo" />
        <div class="card-body">
          <h5 class="card-title text-light">Faze Clan</h5>
          <p class="card-text text-light">
            FaZe Clan is a popular professional esports organization that
            was founded in 2010 and is based in Los Angeles, California.
            They have teams and players who compete in various popular video
            games and have a significant following on social media
            platforms.
          </p>
          <a routerLink="/faze" class="btn btn-light">See Players</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div id="card" class="card">
        <img src="../../assets/images/Cloud-9-Emblem.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title text-light">Cloud9</h5>
          <p class="card-text text-light">
            Cloud9 is a top esports organization based in Los Angeles, known
            for its skilled teams and players who compete in popular games
            like League of Legends and Counter-Strike. They have a strong
            fan base and are involved in community outreach programs related
            to esports..
          </p>
          <a routerLink="/cloud9" class="btn btn-light">See players</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div id="card" class="card">
        <img src="../../assets/images/fnatic.png" class="card-img-top" alt="..." style="height: 50vh" />
        <div class="card-body">
          <h5 class="card-title text-light">Fnatic</h5>
          <p class="card-text text-light">
            Fnatic is a leading esports organization based in London, UK,
            that was founded in 2004. They have successful teams and players
            who compete in popular games such as League of Legends,
            Counter-Strike, and Dota 2. Fnatic has a history of winning
            major tournaments and is considered one of the most successful
            esports organizations in the world.
          </p>
          <a routerLink="/fnatic" class="btn btn-light">See players</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section2" class="container-fluid">
  <div class="row justify-content-center">
    <h1 class="text-light text-center mt-5"> <b class="text-danger">Esports </b>bets</h1>

  </div>
  <div class="row mt-5">
    <div class="col-md-4 offset-2">
      <div class="card  mb-3" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/images/ggbet.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">GG bet</h5>
              <p class="card-text">GG.BET was developed by esports enthusiasts and professionals. Our goal is to create
                an intuitive and convenient platform for betting on all major esports events in the world.</p>
              <a href="https://gbett1.net" class="btn btn-dark">Bet Now!</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="card  mb-3" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/images/bcgames.webp" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">BC.games</h5>
              <p class="card-text">A multi-award winning crypto casino. With a player-centric approach, BC.GAME is able
                to satisfy millions of gamblers across the globe.</p>
              <a href="https://bc.game" class="btn btn-dark">Bet Now!</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 offset-2">
      <div class="card  mb-3" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/images/thunderpick.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Thunderpick</h5>
              <p class="card-text">Thunderpick is an innovative crypto & online casino betting platform, created by
                long-time players, for esport and betting enthusiasts. </p>
              <a href="https://thunderpick.io" class="btn btn-dark">Bet Now!</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 600px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/images/luckbox.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Luckbox</h5>
              <p class="card-text"> Bet on esports live matches in games including CS:GO, Dota 2 and League of Legends.
                Luckbox has markets to bet on esports.</p>
              <a href="https://gbett1.net" class="btn btn-dark">Bet Now!</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div id="section3" class="container-fluid">
  <div class="row" style="height: 12vh"></div>
  <div class="row justify-content-center">
    <h1 class="text-center text-light mt-5">UPCOMING EVENTS</h1>

  </div>
  <div class="row justify-content-center mt-5">
    <div class="card bg-dark bg-opacity-10 " style="width: 50rem; border: none; ">
      <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/images/dreamhack.jpg" class="d-block w-100 rounded-4" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>7 Apr - 9 Apr 2023</h5>
              <p>San Diego Convention Center, San Diego, USA</p>
              <p>gaming festival & LAN party</p>
              <a href="https://dreamhack.com/sandiego/" class="btn border-light text-light">View Event</a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/Apex-Legends-Global-Series-Split-1-Playoffs.jpg"
              class="d-block w-100 rounded-4" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>8 Jun- 11 Jun 2023</h5>
              <p>London, UK</p>
              <p>Apex Legends</p>
              <a href="https://www.ea.com/en-gb/games/apex-legends/compete" class="btn border-light text-light">View
                Event</a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/intelEX.jpg" class="d-block w-100 rounded-4" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>17 Apr - 23 Apr 2023</h5>
              <p>CS:GO</p>
              <a href="https://intelextrememasters.com" class="btn border-light text-light">View Event</a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>



  </div>
</div>

<div class="container-fluid">
  <div id="footer" class="row">
    <div class="col-md-3 offset-2">
      <p>Copyright © 2023 Esport Arena. All Rights Reserved.</p>

    </div>
    <div class="col-md-3">
      <p> <b>About :</b>
        Our Website is dedicated to providing the latest and most accurate information about esports. We strive to
        deliver insightful articles, interviews, and analysis to help our readers stay up-to-date on the competitive
        gaming scene.</p>

    </div>
    <div class="col-md-3">
      <p>  <b>Contact :</b> 
        If you have any questions, comments, or feedback about our content, please don't hesitate to reach out to us at
        <u> Esportsarena@gmail.com</u>. We would love to hear from you and will do our best to respond as soon as possible.</p>

    </div>


  </div>

</div>